@model IEnumerable<ReviewSiteLogic.Render.RestaurantDisplay>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        <span class="h1">GudYelp</span><br/>
        <span class="lead">Your source for discovering great Restaurants.</span>
        <br/>
        <span><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></span>
    </div>
</div>

<h2>Top 3 Restaurants</h2>
<div class="row container">
    @foreach (var restaurant in Model)
    {
        <div class="col-md-3 well well-sm">
            @Html.DisplayFor(modelItem => restaurant.Name)<br />
            @Html.DisplayFor(modelItem => restaurant.Rating)<br />
            @Html.DisplayFor(modelItem => restaurant.Address)<br />
            @Html.DisplayFor(modelItem => restaurant.Phone)<br />
            @Html.ActionLink("Details", "ViewRestaurant", new { id = restaurant.Id })
        </div>
        <div class="col-md-1"></div>
    }
</div>