@model IEnumerable<ReviewSiteLogic.Render.RestaurantDisplay>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restaurants</h2>

<p>
    @Html.ActionLink("Create New", "CreateRestaurant")
</p>
<div class="container-fluid">
    <div class="row">

        @foreach (var restaurant in Model)
        {
            <div class="col-md-3 card">
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => restaurant.Name)</h3>
                    <h4 class="card-subtitle">@restaurant.Rating.ToString("N1") / 10</h4>
                    <div class="card-text">
                        @Html.DisplayFor(modelItem => restaurant.Address)<br />
                        @Html.DisplayFor(modelItem => restaurant.Phone)<br />
                    </div>
                    <a href="/Home/ViewRestaurant/@restaurant.Id" class="btn btn-outline-primary">Details & Reviews</a>
                </div>
            </div>
            <div class="col-md-1"></div>
        }
    </div>
</div>
