@model IEnumerable<ReviewSiteLogic.Render.RestaurantDisplay>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restaurants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">

    @foreach (var item in Model) {
        <div class="col-md-3 well well-sm">
            @Html.DisplayFor(modelItem => item.Name)<br/>
            @Html.DisplayFor(modelItem => item.Rating)<br/>
            @Html.DisplayFor(modelItem => item.Address)<br />
            @Html.DisplayFor(modelItem => item.Phone)<br />
            @Html.ActionLink("Details", "ViewRestaurant", new {id = item.Id})
        </div>
        <div class="col-md-1"></div>
    }
</div>
