@using Antlr.Runtime.Tree
@model ReviewSiteLogic.Render.RestaurantDisplay

@{
    ViewBag.Title = "Manage Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="d-flex">
        <div class="p-2 h2">
            Managing @Model.Name
        </div>
        <div class="p-2">
            @Html.ActionLink("Back", "ViewRestaurant", new {id = Model.Id}, new {@class = "btn btn-secondary"})
        </div>
        <div class="p-2">
            @Html.ActionLink("Edit", "EditRestaurant", new {id = Model.Id}, new {@class = "btn btn-warning"})
        </div>
        <div class="p-2">
            @Html.ActionLink("Delete", "DeleteRestaurant", new {id = Model.Id}, new {@class = "btn btn-danger"})
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Rating
            </th>
            <th>
                Title
            </th>
            <th>
                Body
            </th>
            <th>
                Date Published
            </th>
            <th>
                Options
            </th>
        </tr>

        @foreach (var item in Model.Reviews) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePublished)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditReview", new {id = item.Id}, new {@class = "btn btn-warning"})
                    <br/>
                    @Html.ActionLink("Delete", "DeleteReview", new {id = item.Id, restaurantId = Model.Id}, new {@class = "btn btn-danger"})
                </td>
            </tr>
        }

    </table>
</div>