@model ReviewSiteLogic.Render.RestaurantDisplay

@{
    ViewBag.Title = "ViewRestaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <hr/>
    <dl class="dl-horizontal">
        <d>
            @Html.DisplayNameFor(model => model.Address)
        </d>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<hr/>
<h3>Reviews</h3>
<div class="row">

    @foreach (var review in Model.Reviews) {
        <div class="col-md-3 card">
            <div class="card-body">
                <h4 class="card-title">
                    @Html.DisplayFor(modelItem => review.Title)
                </h4>
                <h5 class="card-subtitle">
                    @Html.DisplayFor(modelItem => review.Rating) / 10
                </h5>
                <div class="card-text">
                    @Html.DisplayFor(modelItem => review.Body)
                </div>
                <div class="card-footer text-muted">
                    @Html.DisplayFor(modelItem => review.ReviewerName)
                    on
                    @review.DatePublished.ToShortDateString()
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    }
</div>
<hr/>
<p>
    @Html.ActionLink("Back to List", "ListRestaurants")
</p>